

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}


.OuterTitle{
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; 
  height: 22%;
  width: 60%;
  
}

#titleBox {
  display: flex;
  align-items: baseline;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-right: 5px;
}

.contentContainer {
  display: flex;
  border: 5px solid blue;
  height: 78%;
  width: 60%;
}

.bio {
  width: 60%;
  text-align: left;
}

.bio p {
  margin: 0 0 10px 0;
}

.bio ul {
  list-style: none;
  padding: 0;
}

.bio ul li {
  margin: 5px 0;
}

.bio ul li a {
  text-decoration: none;
}

.bio ul li a:hover {
  text-decoration: underline;
}
