@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontSize: 18px;
  --bigFontSize: 28px;
  --backgroundColor: #E1D8D5; /* Define a consistent background color */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Enable vertical scrolling */
  background-color: var(--backgroundColor); /* Apply the background color */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

@keyframes rotate {
  0%, 16.66% { transform: translateY(0); }
  20%, 36.66% { transform: translateY(-24px); }
  40%, 56.66% { transform: translateY(-48px); }
  60%, 76.66% { transform: translateY(-72px); }
  80%, 96.66% { transform: translateY(-96px); }
  100% { transform: translateY(-120px); }
}

.email-link {
  display: inline-flex;
  align-items: center;
}

