@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --fontSize: 18px;
  --bigFontSize: 28px;
  --backgroundColor: #F7F4F2; /* Light mode background color */
  --textColor: #282727; /* Light mode text color */
}

body.dark-mode {
  --backgroundColor: #282727; /* Dark mode background color */
  --textColor: #FCFAED; /* Dark mode text color */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Enable vertical scrolling */
  background-color: var(--backgroundColor); /* Apply the background color */
  color: var(--textColor);
}


@keyframes rotate {
  0%, 16.66% { transform: translateY(0); }
  20%, 36.66% { transform: translateY(-24px); }
  40%, 56.66% { transform: translateY(-48px); }
  60%, 76.66% { transform: translateY(-72px); }
  80%, 96.66% { transform: translateY(-96px); }
  100% { transform: translateY(-120px); }
}

.email-link {
  display: inline-flex;
  align-items: center;
}

.text-dynamic-color {
  color: var(--textColor);
}

.border-light {
  border-color: var(--textColor); /* Light mode border color */
}

.border-dark {
  border-color: var(--backgroundColor); /* Dark mode border color */
}
