
.main {
  background-color: #E1D8D5;
  border: 5px solid red;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box; /* Include border within the element's width and height */
  display: flex;
  flex-direction: column;
  align-items: center;
}